[Unit]
Description=Demo FastApi Application
After=network.target

[Service]
User=subham
Group=subham
WorkingDirectory=/home/subham/app/src
Environment="PATH=/home/subham/app/venv/bin"
EnvironmentFile=/home/subham/.env
ExecStart=/home/subham/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
